//ABILITIES PAGE CSS

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Futura;
    src: url('assets/fonts/futura/Futura Bold font.ttf') format('ttf');
    font-style: normal;
    font-weight: 300 800;
}

html {
    font-size: 62.5%;
    font-family: Labrada;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
    overflow-x: hidden;
}


h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

.abilitiespage_image {
    width: 100vw;
    height: 85vh;
    position: relative;

    .black_shaded_gradient {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to left bottom,
                rgba(255, 0, 0, 0.01), black);
    }

    .moving_crows_gif {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }


    .itachi_background {
        object-fit: cover;
        object-position: 0% 0%;
        width: 100%;
        height: 100%;

    }

    .nav_menu_content {
        position: absolute;
        left: 4vw;
        top: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .sharingan_logo {
            // position: absolute;
            // left: 0;
            // top: 0;
            height: 130px;
            width: 130px;
            border-radius: 50%;
            // animation: spin-wheel 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            cursor: pointer;

        }

        .spin {
            animation: spin-wheel 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
        }

        @keyframes spin-wheel {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(1440deg);
            }
        }

        .navbar_panel {
            // position: absolute;
            // left: 3vw;
            width: 600px;
            height: 45px;
            opacity: 0;
            transition: opacity 2s;
            z-index: 10;
            background-color: rgba(99, 17, 17, 0.364);
            // border-radius: 15px 50px 30px;
            border-radius: 15px 50px 30px 5px;

            .nav_text_content {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                color: #d1d1d1;
                margin-top: 4px;
                line-height: 1.3;
                font-size: 2.7rem;
                font-weight: 300;
            }

        }
    }

    .text_container {
        position: absolute;
        left: 4vw;
        top: 70vh;
        display: flex;
        flex-direction: column;
        height: 30vh;
        width: 80vw;

        .itachi_abilities_text {
            margin-left: 2vw;
            color: #d1d1d1;
            line-height: 1.3;
            font-size: 3.5rem;
            font-weight: 400;

        }
    }

}

.enhanced_divider {
    position: relative;
    margin-top: 30vh;
    margin-bottom: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .fade_rule {
        position: absolute;
        z-index: 0;
        height: 1px;
        background-color: #E6E6E6;
        width: 66rem;
        margin: 0 auto;
        background-image: linear-gradient(to left,
                grey 10%, white 50%, grey 90%);
    }

    .uchicha_clan_logo {
        z-index: 1;
        height: 50px;
        width: 40px;
        border-radius: 50%;
    }

}

.jutsus_main_content_1 {
    position: relative;
    height: 1800px;
    width: 100%;
    // background-color: yellow;

    .brush_stroke_1 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 2.2%;
        left: 4vw;
        height: 230px;
        width: 1180px;
        // z-index: 10;

        img {
            width: 100%;
            height: 100%;
        }

        h1 {
            position: absolute;
            margin-right: 45px;
            margin-bottom: 20px;
            font-family: Oswald;
            font-size: 7rem;
            transform-origin: 0 0;
            transform: rotate(-1.1deg);
        }
    }



    .info_outer_video_box_1 {
        position: absolute;
        // padding-top: 20px;
        // padding-left: 30px;
        top: 21%;
        // bottom: 0;
        height: 33.7%;
        left: 11vw;
        right: 19vw;
        // background-color: purple;
        z-index: 5;
        border-radius: 225px 50px 10px;
        // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        //     rgba(0, 0, 0, 0.12) 0px -12px 30px,
        //     rgba(0, 0, 0, 0.12) 0px 4px 6px,
        //     rgba(0, 0, 0, 0.17) 0px 12px 13px,
        //     rgba(0, 0, 0, 0.09) 0px -3px 5px;

        video {
            height: 100%;
            width: 100%;
            border-radius: 225px 50px 0px;
            z-index: 6;
        }

        .bottom_video_covering_strip {
            position: absolute;
            bottom: 0;
            height: 11.9%;
            width: 100%;
            z-index: 2;
            background-color: black;
        }
    }

    .info_outer_box_1 {
        position: absolute;
        // padding-top: 20px;
        // padding-left: 30px;
        top: 21%;
        height: 29.7%;
        left: 11vw;
        right: 19vw;
        z-index: 8;
        // background-color: white;
        border-radius: 225px 0px 10px;
        // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        //     rgba(0, 0, 0, 0.12) 0px -12px 30px,
        //     rgba(0, 0, 0, 0.12) 0px 4px 6px,
        //     rgba(0, 0, 0, 0.17) 0px 12px 13px,
        //     rgba(0, 0, 0, 0.09) 0px -3px 5px;

        .top_text_flex {
            position: absolute;
            top: 10%;
            bottom: 85%;
            right: 3%;
            left: 14%;
            display: flex;
            justify-content: space-between;
            // background-color: orange;
            z-index: 13;

            p {
                font-size: 2.2rem;
                font-family: Futura;
            }

            .left_content {
                display: flex;
                justify-content: space-between;
                width: 50%;

                .first_left_content {
                    width: 30%;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    // background-color: green;
                    .three_dots_vertical_icon_img {

                        width: 15%;
                        height: 100%;
                        // background-color: red;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .second_left_content {
                    // background-color: brown;
                    width: 70%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }
            }

            .right_content {
                // background-color: grey;
                width: 30%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }




        }

        .left_text_flex {
            position: absolute;
            top: 24%;
            right: 55%;
            left: 10%;
            bottom: 5%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-evenly;
            // background-color: blue;
        }

        .right_text_flex {
            position: absolute;
            top: 26%;
            left: 85%;
            right: 3%;
            bottom: 5%;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            // background-color: red;

            h2 {
                margin-top: 8px;
                margin-bottom: 8px;
            }

            h1 {
                margin-bottom: 8px;
            }

        }

        h1 {
            font-size: 3.1rem;
            font-weight: 500;
            font-family: Futura;
            color: white;
        }

        h2 {
            font-size: 1.8rem;
            font-family: Futura;
            color: #d1d1d1;
        }

        p {
            font-size: 1.2rem;
            font-family: Futura;
            color: #d1d1d1;
        }

        img {
            height: 118%;
            // width: 450px;
            position: absolute;
            // right: 40%;
            left: 47.8%;
            // top: -30px;
            bottom: 0.3%;
            // transform: scaleX(-1) ;
            transition: height 0.15s ease-in-out, width 0.15s ease-in-out;
        }

        img:hover {
            // width: 470px;
            height: 122%;
            // transform: rotateX(-20deg);  
        }

    }

    .info_outer_video_box_2 {
        position: absolute;
        top: 55%;
        height: 33.7%;
        left: 23vw;
        right: 7vw;
        z-index: 5;
        border-radius: 225px 50px 10px;
        // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        //     rgba(0, 0, 0, 0.12) 0px -12px 30px,
        //     rgba(0, 0, 0, 0.12) 0px 4px 6px,
        //     rgba(0, 0, 0, 0.17) 0px 12px 13px,
        //     rgba(0, 0, 0, 0.09) 0px -3px 5px;

        video {
            height: 100%;
            width: 100%;
            border-radius: 225px 50px 0px;
            z-index: 6;
        }

        .bottom_video_covering_strip {
            position: absolute;
            bottom: 0;
            height: 11.9%;
            width: 100%;
            z-index: 2;
            background-color: black;
        }
    }

    .info_outer_box_2 {
        position: absolute;
        top: 55%;
        height: 29.7%;
        left: 23vw;
        right: 7vw;
        z-index: 8;
        border-radius: 225px 0px 10px;
        // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        //     rgba(0, 0, 0, 0.12) 0px -12px 30px,
        //     rgba(0, 0, 0, 0.12) 0px 4px 6px,
        //     rgba(0, 0, 0, 0.17) 0px 12px 13px,
        //     rgba(0, 0, 0, 0.09) 0px -3px 5px;

        .top_text_flex {
            position: absolute;
            top: 10%;
            bottom: 85%;
            right: 3%;
            left: 14%;
            display: flex;
            justify-content: space-between;
            z-index: 13;

            p {
                font-size: 2.2rem;
                font-family: Futura;
            }

            .left_content {
                display: flex;
                justify-content: space-between;
                width: 50%;

                .first_left_content {
                    width: 30%;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    .three_dots_vertical_icon_img {

                        width: 15%;
                        height: 100%;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .second_left_content {
                    width: 70%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }
            }

            .right_content {

                width: 30%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }




        }

        .left_text_flex {
            position: absolute;
            top: 24%;
            right: 55%;
            left: 10%;
            bottom: 5%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-evenly;

        }

        .right_text_flex {
            position: absolute;
            top: 26%;
            left: 85%;
            right: 3%;
            bottom: 5%;
            display: flex;
            z-index: 5;
            flex-direction: column;
            align-items: end;
            justify-content: center;

            h2 {
                margin-top: 8px;
                margin-bottom: 8px;
            }

            h1 {
                margin-bottom: 8px;
            }

        }

        h1 {
            font-size: 3.1rem;
            font-weight: 500;
            font-family: Futura;
            color: white;
        }

        h2 {
            font-size: 1.8rem;
            font-family: Futura;
            color: #d1d1d1;
        }

        p {
            font-size: 1.2rem;
            font-family: Futura;
            color: #d1d1d1;
        }

        img {
            height: 100%;

            position: absolute;

            left: 45.8%;

            bottom: 0.3%;

            transition: height 0.15s ease-in-out, width 0.15s ease-in-out;
        }

        img:hover {

            height: 102%;

        }

    }
}

.jutsus_main_content_2 {
    position: relative;
    height: 1800px;
    width: 100%;
    // background-color: green;

    .wrapped_cartoonistic_img {
        position: absolute;
        top: -19%;
        width: 100%;
        height: 32%;
        // background-color: yellow;

        .star_1 {
            position: absolute;
            top: 70%;
            right: 5%;
            width: 10%;
            height: 25%;
        }

        .star_2 {
            position: absolute;
            top: 25%;
            right: 15%;
            width: 7%;
            height: 17%;
        }

        .star_3 {
            position: absolute;
            top: 29%;
            left: 30%;
            width: 7%;
            height: 17%;
        }

        .star_4 {
            position: absolute;
            top: 11%;
            left: 1%;
            width: 7%;
            height: 17%;
        }

        .star_5 {
            position: absolute;
            top: -65%;
            left: 11%;
            width: 10%;
            height: 25%;
        }

        .star_6 {
            position: absolute;
            bottom: -120%;
            right: 5%;
            width: 5.5%;
            height: 14%;
        }

        .star_7 {
            position: absolute;
            top: -120%;
            right: 6%;
            width: 9%;
            height: 23%;
        }

        .star_8 {
            position: absolute;
            bottom: -180%;
            left: 4%;
            width: 10%;
            height: 25%;
        }

        .walking_fence {
            position: absolute;
            bottom: -1.5%;
            left: 1%;
            width: 69%;
            height: 4%;
        }

        .itachi_image_1 {
            position: absolute;
            bottom: 2%;
            left: 2%;
            width: 35%;
            height: 54%;
            transform: scaleX(-1) rotate(2deg);
        }

        .naruto_gif_1 {
            position: absolute;
            bottom: 2%;
            left: 34%;
            width: 15%;
            height: 26%;
        }

        .sasuke_gif_1 {
            position: absolute;
            bottom: 1%;
            left: 42%;
            width: 10%;
            height: 28%;
        }

        .sakura_gif_1 {
            position: absolute;
            bottom: 2%;
            left: 49%;
            width: 6.5%;
            height: 25%;
        }

        .shikamaru_gif_1 {
            position: absolute;
            bottom: 2%;
            left: 54%;
            width: 5%;
            height: 25%;
        }

        .gara_gif_1 {
            position: absolute;
            bottom: 1%;
            left: 57%;
            width: 7%;
            height: 26%;
        }

        .hinata_gif_1 {
            position: absolute;
            bottom: 2%;
            left: 62%;
            width: 7%;
            height: 26%;
        }



    }

    .info_outer_video_box_1 {
        position: absolute;
        // padding-top: 20px;
        // padding-left: 30px;
        top: 21%;
        // bottom: 0;
        height: 33.7%;
        left: 11vw;
        right: 19vw;
        // background-color: purple;
        z-index: 5;
        border-radius: 225px 50px 10px;
        // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        //     rgba(0, 0, 0, 0.12) 0px -12px 30px,
        //     rgba(0, 0, 0, 0.12) 0px 4px 6px,
        //     rgba(0, 0, 0, 0.17) 0px 12px 13px,
        //     rgba(0, 0, 0, 0.09) 0px -3px 5px;

        video {
            height: 100%;
            width: 100%;
            border-radius: 225px 50px 0px;
            z-index: 6;
        }

        .bottom_video_covering_strip {
            position: absolute;
            bottom: 0;
            height: 11.9%;
            width: 100%;
            z-index: 2;
            background-color: black;
        }
    }

    .info_outer_box_1 {
        position: absolute;
        // padding-top: 20px;
        // padding-left: 30px;
        top: 21%;
        height: 29.7%;
        left: 11vw;
        right: 19vw;
        z-index: 8;

        // background-color: white;
        border-radius: 225px 0px 10px;
        // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        //     rgba(0, 0, 0, 0.12) 0px -12px 30px,
        //     rgba(0, 0, 0, 0.12) 0px 4px 6px,
        //     rgba(0, 0, 0, 0.17) 0px 12px 13px,
        //     rgba(0, 0, 0, 0.09) 0px -3px 5px;

        .top_text_flex {
            position: absolute;
            top: 10%;
            bottom: 85%;
            right: 3%;
            left: 14%;
            display: flex;
            justify-content: space-between;
            // background-color: orange;
            z-index: 13;

            p {
                font-size: 2.2rem;
                font-family: Futura;
                color: #d1d1d1;
            }

            .left_content {
                display: flex;
                justify-content: space-between;
                width: 50%;

                .first_left_content {
                    width: 30%;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    // background-color: green;
                    .three_dots_vertical_icon_img {

                        width: 15%;
                        height: 100%;
                        // background-color: red;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .second_left_content {
                    // background-color: brown;
                    width: 70%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }
            }

            .right_content {
                // background-color: grey;
                width: 30%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }




        }

        .left_text_flex {
            position: absolute;
            top: 24%;
            right: 55%;
            left: 10%;
            bottom: 5%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-evenly;
            // background-color: blue;
        }

        .right_text_flex {
            position: absolute;
            top: 26%;
            left: 85%;
            right: 3%;
            bottom: 5%;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            // background-color: red;

            h2 {
                margin-top: 8px;
                margin-bottom: 8px;
            }

            h1 {
                margin-bottom: 8px;
            }

        }

        h1 {
            font-size: 3.1rem;
            font-weight: 500;
            font-family: Futura;
            color: white;
        }

        h2 {
            font-size: 1.8rem;
            font-family: Futura;
            color: #d1d1d1;
        }

        p {
            font-size: 1.2rem;
            font-family: Futura;
            color: #d1d1d1;
        }

        img {
            height: 134%;
            // width: 450px;
            position: absolute;
            // right: 40%;
            left: 47.8%;
            // top: -30px;
            bottom: 0;
            // transform: scaleX(-1) ;
            transition: height 0.15s ease-in-out, width 0.15s ease-in-out;
        }

        img:hover {
            // width: 470px;
            height: 137%;
            // transform: rotateX(-20deg);  
        }

    }

    .info_outer_video_box_2 {
        position: absolute;
        top: 55%;
        height: 33.7%;
        left: 23vw;
        right: 7vw;
        z-index: 5;
        border-radius: 225px 50px 10px;
        // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        //     rgba(0, 0, 0, 0.12) 0px -12px 30px,
        //     rgba(0, 0, 0, 0.12) 0px 4px 6px,
        //     rgba(0, 0, 0, 0.17) 0px 12px 13px,
        //     rgba(0, 0, 0, 0.09) 0px -3px 5px;

        video {
            height: 100%;
            width: 100%;
            border-radius: 225px 50px 0px;
            z-index: 6;
        }

        .bottom_video_covering_strip {
            position: absolute;
            bottom: 0;
            height: 11.9%;
            width: 100%;
            z-index: 2;
            background-color: black;
        }
    }

    .info_outer_box_2 {
        position: absolute;
        top: 55%;
        height: 29.7%;
        left: 23vw;
        right: 7vw;
        z-index: 8;
        border-radius: 225px 0px 10px;
        // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        //     rgba(0, 0, 0, 0.12) 0px -12px 30px,
        //     rgba(0, 0, 0, 0.12) 0px 4px 6px,
        //     rgba(0, 0, 0, 0.17) 0px 12px 13px,
        //     rgba(0, 0, 0, 0.09) 0px -3px 5px;

        .top_text_flex {
            position: absolute;
            top: 10%;
            bottom: 85%;
            right: 3%;
            left: 14%;
            display: flex;
            justify-content: space-between;
            z-index: 13;

            p {
                font-size: 2.2rem;
                font-family: Futura;
            }

            .left_content {
                display: flex;
                justify-content: space-between;
                width: 50%;

                .first_left_content {
                    width: 30%;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    .three_dots_vertical_icon_img {

                        width: 15%;
                        height: 100%;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .second_left_content {
                    width: 70%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }
            }

            .right_content {

                width: 30%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }




        }

        .left_text_flex {
            position: absolute;
            top: 24%;
            right: 55%;
            left: 10%;
            bottom: 5%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-evenly;

        }

        .right_text_flex {
            position: absolute;
            top: 26%;
            left: 85%;
            right: 3%;
            bottom: 5%;
            display: flex;
            z-index: 5;
            flex-direction: column;
            align-items: end;
            justify-content: center;

            h2 {
                margin-top: 8px;
                margin-bottom: 8px;
            }

            h1 {
                margin-bottom: 8px;
            }

        }

        h1 {
            font-size: 3.1rem;
            font-weight: 500;
            font-family: Futura;
            color: white;
        }

        h2 {
            font-size: 1.8rem;
            font-family: Futura;
            color: #d1d1d1;
        }

        p {
            font-size: 1.2rem;
            font-family: Futura;
            color: #d1d1d1;
        }

        img {
            height: 134%;

            position: absolute;

            left: 40.8%;

            bottom: 0;

            transition: height 0.15s ease-in-out, width 0.15s ease-in-out;
        }

        img:hover {

            height: 137%;

        }

    }

    .footer_content {
        position: absolute;
        top: 92%;
        height: 730px;
        width: 100%;
        // background-color: yellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        img {

            z-index: 2;

            width: 90%;

        }

        .itachi_logo {

            z-index: 2;
            width: 11.5%;
            left: 45%;
            right: 45%;
        }

        .footer_text_content {
            height: 35%;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            z-index: 2;
            font-size: 2rem;
            color: #d1d1d1;
            font-family: Futura;
            font-weight: 400;
            line-height: 1.5;
            // letter-spacing: 3;

        }



    }

}